/*Headings*/

h1, h2 {
    text-align: center;
}

h1 {
	font-size: 225%;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

/*Winner column*/
#winner {
    text-align: center;
}

.blinking {
	opacity: 0;
}

/*Game board*/

.col-md-4 {
    text-align: center;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
    border-top: none;
}

.table-no-border {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
}

[id='square-seven'], [id='square-eight'], [id='square-nine'] {
	border-bottom: none;
}

[id='square-one'], [id='square-two'], [id='square-four'], [id='square-five'], [id='square-seven'], [id='square-eight'] {
    border-right: solid;
}

td {
    width: 3em;
    height: 3em;
    text-align: center;
    border-bottom: solid;
    font-size: 2em;
}

/*Difficulty selection*/

.col-md-2 {
    margin-top: .5em;
}

ul {
	margin: auto;
	width: 50%;
}

li {
    list-style-type: none;
}

/*Buttons*/

.pure-button {
	margin-bottom: 1em;
	font-size: 110%;
	color: rgb(255, 255, 240);
	letter-spacing: .05em;
}

.easy {
    background: rgb(28, 184, 65);
}

.medium {
    background: rgb(223, 117, 20);
}

.hard {
    background: rgb(202, 60, 60);
}

.inactive{
    background: gray;
}