.game{
	width: 74%;
	border: dashed;
	float: right;
	text-align: center;
}

.subheading{
	border: dotted;
}

.heading{
	border: dotted;
}

.sidebar{
	width: 24%;
	position: left;
	border: solid;
	float: left;
}

li{
	list-style-type: none;
	padding-bottom: 1em;
}

button{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	border: solid;
	width: 4em;
	height: 4em;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2{
	text-align: center;
}