.table {
}

td {
    border: none;
    width: 2em;
    height: 2em;
}

tr {
    border: none;
}

[id='8'], [id='1'], [id='3'], [id='5'], [id='4'], [id='9'] {
    border-right: solid; 
}

li {
    list-style-type: none;
}

h1, h2 {
    text-align: center;
}