<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Unbeatable Tic-Tac-Toe AI coded in javaScript">
    <meta name="author" content="Stuart Pearlman">

    <title>Tic-Tac-D'oh!</title>

  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Tic-Tac-D'oh!</h1>
        <h2 class="subheading">The game you can win.</h2>
      </div>

      <div class="row">

      <div class="col-md-3"></div>

        <div class="col-md-2">
            <ul>
                <h3>Choose Difficulty:</h3>
                <li><button class="pure-button easy" id="easy">Easy</button></li>
                <li><button class="pure-button medium" id="medium">Medium</button></li>
                <li><button class="pure-button hard" id="hard">Hard</button></li>
            </ul>
        </div>
        
        <div class="col-md-4">
            <div id="winner"></div>
            <table class="table-no-border">
                <tbody>
                    <tr>
                        <td id="8"></td>
                        <td id="1"></td>
                        <td id="6"></td>
                    </tr>
                    <tr>
                        <td id="3"></td>
                        <td id="5"></td>
                        <td id="7"></td>
                    </tr>
                    <tr>
                        <td id="4"></td>
                        <td id="9"></td>
                        <td id="2"></td>
                    </tr>
                </tbody>
            </table>
            <button class="pure-button start" id="start">Start Game</button>
        </div>

        <div class="col-md-3"></div>
      </div> <!-- /row -->
    </div> <!-- /container -->
  </body>
</html>